@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-light {
  background: linear-gradient(
    to top right,
    rgb(237, 237, 249),
    rgb(245, 235, 244),
    rgb(218, 235, 251),
    rgb(232, 235, 252),
    rgb(237, 237, 249),
    rgb(245, 235, 244),
    rgb(218, 235, 251),
    rgb(232, 235, 252)
  );
}

.hero-dark {
  background: linear-gradient(
    -45deg,
    theme("colors.slate.500"),
    theme("colors.slate.500"),
    theme("colors.slate.600"),
    theme("colors.slate.600"),
    theme("colors.slate.500"),
    theme("colors.slate.500")
  );
  background-size: 200% 200%;
}

@keyframes breathe {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
