@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.hero {
  background-image: url(https://tailwindcss.com/_next/static/media/hero@75.b2469a49.jpg) !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
} */

.hero {
  background: linear-gradient(
    to top right,
    rgb(237, 237, 249),
    rgb(245, 235, 244),
    rgb(218, 235, 251),
    rgb(232, 235, 252),
    rgb(237, 237, 249),
    rgb(245, 235, 244),
    rgb(218, 235, 251),
    rgb(232, 235, 252)
  );
}

.hero-alt {
  background: linear-gradient(
    -45deg,
    theme("colors.slate.500"),
    theme("colors.slate.600"),
    theme("colors.slate.700"),
    theme("colors.slate.600"),
    theme("colors.slate.500")
  );
  background-size: 200% 200%;
}

@keyframes breathe {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
