@tailwind base;
@tailwind components;
@tailwind utilities;

.anim {
  background: linear-gradient(
    -45deg,
    theme("colors.teal.400"),
    theme("colors.blue.400"), 
    theme("colors.purple.400") 80%
  );
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
